<div class="row">
  <div class="col-xs-3 neighborhoodnavbar">
    <h3>Neighborhoods</h3>
    
    <p>908 Cherry Street is located in the heart of Chinatown and just a 10 minute walk of numerous parks, Center City, Old City, and </p>
  </div>
</div>
<div class="row">
  
    <div class="col-xs-4">
      <h2>Center City</h2>
      <p>We are located just steps away from Center City, which features plenty of shops, cafes, and restaurants..</p>

      <%= link_to image_tag("1bedroomoriginals/1brfloorplanoriginal.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1brfloorplanoriginal.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic2original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic2original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic3original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic3original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic4original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic4original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
     </div>

    <div class="col-xs-4">
      <h2>Parks</h2>
      <p>We are located just steps away from [][][], which features plenty of shops, cafes, and restaurants..</p>

      <%= link_to image_tag("1bedroomoriginals/1brfloorplanoriginal.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1brfloorplanoriginal.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic2original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic2original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic3original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic3original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic4original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic4original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %> 
    </div>
    <div class="col-xs-4">
      <h2>Chinatown</h2>
      <p>We are located in Chinatown, where you are just steps away from Chinese, Vietnamese, Japanese, and Burmese food.</p>

      <%= link_to image_tag("1bedroomoriginals/1brfloorplanoriginal.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1brfloorplanoriginal.jpg"), :rel => 'fancybox-thumb3', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb3', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic2original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic2original.jpg"), :rel => 'fancybox-thumb3', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic3original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic3original.jpg"), :rel => 'fancybox-thumb3', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic4original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic4original.jpg"), :rel => 'fancybox-thumb3', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb3', :class =>"fancybox-thumb" %> 
    </div>
  </div>
  </div>
      

  

</div>