<div class="row">
  <div class="col-xs-12">
  <h1>Pictures of our apartments</h1>
  
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <h2>1 Bedroom</h2>
      <p>Our one bedrooms average 500 square feet, each come with a kitchen that opens into an expansive living room.</p>

      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic2original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic2original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic3original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic3original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic4original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic4original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic2original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic2original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic3original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic3original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic4original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic4original.jpg"), :rel => 'fancybox-thumb1', :class =>"fancybox-thumb" %>
     </div>

    <div class="col-xs-5">
      <h2>2 Bedrooms</h2>
      <p>Our two bedroom apartments have about 700 square feet of usable place. </p>

      
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic2original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic2original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic3original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic3original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic4original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic4original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %> 
      <%= link_to image_tag("1bedroomoriginals/1bedroompic1original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic1original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic2original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic2original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic3original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic3original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
      <%= link_to image_tag("1bedroomoriginals/1bedroompic4original.jpg", :class => 'bedroom-thumbs'), image_path("1bedroomoriginals/1bedroompic4original.jpg"), :rel => 'fancybox-thumb2', :class =>"fancybox-thumb" %>
    </div>
  </div>
</div>
</div>