<%= content_tag :div, id:"comment-#{comment.id}" do %>
  <div class="panel panel-default">
    <div class="panel panel-body" style="margin-bottom:0px;padding:5px;">
      <small>
        <% if comment.user.role == 'admin' %>
          <span class="label label-primary">Admin</span>
        <% else %>
          <span class="label label-default">Tenant</span>
        <% end %>
        <strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong> commented <%= time_ago_in_words(comment.created_at) %> ago
        <% if can? :destroy, comment %>
          | <%= link_to "Delete", comment_url_helper(comment), method: :delete, remote: true %>
        <% end %>
      </small>
      <p><%= comment.comment %></p>
    </div>
  </div>
<% end %>