<!DOCTYPE HTML>
<html>

<head>
  <title>Philadelphia Rentals</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/navbar'  %>
    
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% elsif flash[:not_approved] %>
        <div class="alert alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:not_approved] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>